
<div class="box box-primary">
    <div class="box-header with-border">

        <h3>Редактирование настройки: &laquo;{{ setting.bundle }}:{{ setting.name }}&raquo;</h3>

        {{ form_errors(form) }}

        {{ form_start(form, {'attr': {'class': 'well'} }) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}

    </div>
</div>
